.card {
  padding: 30px;
  width: 50%;
/*  min-height: 400px;*/
/*  width: 50%;*/

/*  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;*/
}


.card img {
  width: 100%;
  height: auto;

/*  border: 1px solid red;
  padding: 10px;*/
/*  width: 50%;*/
/*  flex: 0 0 auto;
  justify-content: center;
  margin: 5px;
  align-content: center;
  align-items: center;
  position: relative;*/
}




.card a:hover {
  opacity: .7;
   justify-content: center;
}





